<div class="input-control text {% if error %}error-state{% endif %}" data-role="input-control">
    <input type="{% if type %}{{ type }}{% else %}text{% endif %}" id="{{ id }}" name="{{ id }}" value="{{ value }}" {% if autofocus %}autofocus="autofocus"{% endif %} placeholder="{{ label }}">
    <button class="btn-clear" tabindex="-1" type="button"></button>
</div>
{% if error %}
        <div class="notice marker-on-top bg-red">
            <div class="fg-white">{{ error }}</div>
        </div>
    <br />
{% endif %}
